.logo {
    display: flex;
    width: 130px;
}
.longBoxRow img  {
    display: flex;
    width: 325px;
}

.longBoxRow {
    display: flex;
}

h1{
    display: flex;
    justify-content: center;
}

.gif-acceuil {
    display: flex;
}

.bannersaensa img {
    display: flex;
    
}

.backgroundb {
    display: flex;
    height: 500px;
    background-color: rgba(0, 0, 110, 0.671);
}

.banner-saensa img {
    display: flex;
    
}